html{
    font-size: 40px;
}
#study{
    font-size: 3em;
    color: violet;
}
.list{
    color: blue;
}
:root{
    --text-color: yellow;
}
h3 {
    color: var(--text-color);
}
.box{
    width: 50%;
    height: 100px;
    background-color: red;
}
.box1 {
    background-color: red;
    height: 100px ;
    width: 100px;
    color:mintcream;
    border: 2px solid black;
    padding:16px;
    box-sizing: border-box;
    
}
.box2{
    height: 100px ;
    width: 100px;
    background-color: green;
    border: 10px dashed black;
    background-clip: padding-box;
}
.box3{
    height: 100px ;
    width: 100px;
    background-color: purple;
}
img{
    max-width: 10%;
    max-height: 10%;
    size: 1px;
}