html{
    font-size: 40px;
}
#study{
    font-size: 3em;
    color: violet;
}
.list{
    color: blue;
}
:root{
    --text-color: yellow;
}
h3 {
    color: var(--text-color);
}
.box{
    width: 50%;
    height: 100px;
    background-color: red;
}
.box1 {
    background-color: red;
    padding-top: 10px ;
}
.box2{
    background-color: green;
}
.box3{
    background-color: purple;
}
img{
    max-width: 10%;
    max-height: 10%;
    size: 1px;
}